
.App {
  padding: 2em;
}
.App ul {
  list-style: none;
  text-align: center;
}
.App ul li {
  display: inline-block;
  list-style: none;
  background-color: #444;
  margin: 0.5em;
  color: white;
  padding: 1em;
  border-radius: 0.5em;
  cursor: pointer;
}

.App .disabled {
  background-color: #999;
  cursor: default;
}
.App .selected {
  background-color: #449;
}

.type {
  text-align: center;
  font-weight: 400;
  font-size: 1.5em;
}